

    


      <div class="container custom-container-2">
        <!-- Show it when there is no employee -->
        <div class="no-data text-center" *ngIf="Employee.length == 0">
        <p>There is no employee added yet!</p>
        <button class="btn btn-outline-primary" routerLink="/create-employee">Add Empoyee</button>
        </div>
        <!-- Employees list table, it hides when there is no employee -->
        <div *ngIf="Employee.length !== 0">
        <h3 class="mb-3 text-center">Employees List</h3>
        <div class="col-md-12">
        <table class="table table-bordered">
        <thead>
        <tr>
        <th scope="col"> Id</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let employee of Employee">
        <td>{{employee.id}}</td>
        <td>{{employee.firstName}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.emailId}}</td>
        
        <td>
            <span class="edit" routerLink="/employee-edit/{{employee.id}}">Edit</span>
            &nbsp;
<span class="delete" (click)="deleteEmployee(employee.id)">Delete</span>
      
        </td>
        </tr>
        </tbody>
        </table>
        </div>
        </div>
        </div>
      
      